body {
    padding: 20px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;

    background-color: #f4f4f4;

    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.homePage {
    padding: 24px;
    text-align: center;
}

.homePage__controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;

    color: #fff;

    background-color: #007bff;

    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

button.delete {
    background-color: #dc3545;
}

button.delete:hover {
    background-color: #c82333;
}

input,
textarea,
select {
    padding: 10px 20px;
    border: 1px solid #959696;
    border-radius: 5px;

    background-color: #ffffff;
}

textarea {
    height: 100px;
}
